# ===================================================================
# artella-plugins-savetocloud requirements file
# ===================================================================

artella-plugins-core